<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>Heroes</title>
    <link rel="stylesheet" href="../resources/css/reset-css.css">
    <link rel="stylesheet" href="../resources/css/bootstrap.min.css">
    <link rel="stylesheet" href="../resources/css/style.css">
</head>
<body>
<header>
    <nav class="navbar navbar-expand-lg navbar-light bg-dark">
        <a href="/home" class="navbar-brand text-white h4">Heroes</a>
        <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarNav"
                aria-controls="navbarNav" aria-expanded="false" aria-label="Toggle navigation">
            <span class="navbar-toggler-icon"></span>
        </button>
        <div class="collapse navbar-collapse d-flex justify-content-end" id="navbarNav">
            <ul class="navbar-nav row w-25">
                <li class="nav-item col-md-4">
                    <a class="nav-link text-white active h5" href="/home">Home</a>
                </li>
                <li class="nav-item col-md-4">
                    <a class="nav-link text-white  active h5" href="/heroes/create">Create Hero</a>
                </li>
                <li class="nav-item col-md-4">
                    <form>
                        <a class="nav-link text-white active h5" href="/logout">Logout</a>
                    </form>
                </li>
            </ul>
        </div>
    </nav>
</header>
<main>
    <div class="text-center mt-2 mb-4">
        <h1>Hero Details</h1>
    </div>
    <hr class="my-3"/>
    <div class="container-fluid">
        <div class="row justify-content-center">
            <div class="col-md-6">
                <div class="label mt-2">
                    <h2 class="text-white text-center">Name</h2>
                    <h4 class="text-white text-center">SoulTaker</h4>
                </div>
                <div class="label mt-4">
                    <h2 class="text-white text-center">Class</h2>
                    <h4 class="text-white text-center">Warrior</h4>
                </div>
                <div class="label mt-4">
                    <h2 class="text-white text-center">Level</h2>
                    <h4 class="text-white text-center mb-3">75</h4>
                </div>
            </div>
        </div>
    </div>
</main>
<footer class="footer bg-dark  py-2">
    <div class="container-fluid text-center">
        <div class="footer-background h5 text-white">
            &#169; CopyRight Victorious Arena. All rights reserved.
        </div>
    </div>
</footer>
</body>
</html>